Repository quicoment/qc-server, pull requests merged in 2021-07, with the labels that each got.

#3 Feature/implement entity
  build.gradle.kts
  src/main/kotlin/com/quicoment/demo/domain/BaseEntity.kt
  src/main/kotlin/com/quicoment/demo/domain/Post.kt
  src/main/kotlin/com/quicoment/demo/repository/PostRepository.kt
  src/test/kotlin/com/quicoment/demo/domain/PostRepositoryTest.kt
Labels: enhancement

#11 Bugfix/compile error
  src/main/kotlin/com/quicoment/demo/controller/PostController.kt
  src/main/kotlin/com/quicoment/demo/domain/Post.kt
Labels: bug

#12 Feature/update crud
  src/main/kotlin/com/quicoment/demo/common/error/GlobalExceptionHandler.kt
  src/main/kotlin/com/quicoment/demo/controller/PostController.kt
  src/main/kotlin/com/quicoment/demo/domain/BaseEntity.kt
  src/main/kotlin/com/quicoment/demo/service/PostService.kt
Labels: enhancement

#15 Feature/create find
  src/main/kotlin/com/quicoment/demo/controller/PostController.kt
  src/main/kotlin/com/quicoment/demo/domain/BaseEntity.kt
  src/test/kotlin/com/quicoment/demo/domain/PostRepositoryTest.kt
Labels: refactor

#16 Test/webmvc
  src/main/kotlin/com/quicoment/demo/controller/PostController.kt
  src/main/kotlin/com/quicoment/demo/domain/Post.kt
  src/main/kotlin/com/quicoment/demo/dto/PostResponse.kt
  src/main/kotlin/com/quicoment/demo/service/PostService.kt
  src/test/kotlin/com/quicoment/demo/controller/PostControllerTest.kt
Labels: test

#19 Test/service test
  src/main/kotlin/com/quicoment/demo/service/PostService.kt
  src/test/kotlin/com/quicoment/demo/service/PostServiceTest.kt
  src/test/resources/application-test.yml
  src/test/resources/db/init.sql
  src/test/resources/db/teardown.sql
Labels: test

#25 Test/mq producer
  build.gradle.kts
  src/main/kotlin/com/quicoment/demo/common/error/ErrorCase.kt
  src/main/kotlin/com/quicoment/demo/common/error/GlobalExceptionHandler.kt
  src/main/kotlin/com/quicoment/demo/domain/Post.kt
  src/main/kotlin/com/quicoment/demo/repository/PostRepository.kt
  src/test/kotlin/com/quicoment/demo/controller/PostControllerTest.kt
  src/test/kotlin/com/quicoment/demo/domain/PostRepositoryTest.kt
  src/test/kotlin/com/quicoment/demo/repository/PostRepositoryTest.kt
  src/test/resources/application-test.yml
  src/test/resources/db/init.sql
  src/test/resources/db/teardown.sql
Labels: test

#27 Test/26 service test
  build.gradle.kts
  src/main/kotlin/com/quicoment/demo/domain/Post.kt
  src/main/kotlin/com/quicoment/demo/service/MQService.kt
  src/main/kotlin/com/quicoment/demo/service/PostService.kt
  src/test/kotlin/com/quicoment/demo/service/PostServiceTest.kt
Labels: test
